body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.top-bar{
    height: 400px;
    background-image: url(./images/jdm-cars.jpg);
    background-size: cover;
    background-position: center;
}

.logo-dk{
    background-image: url(./images/drift-king.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.top-bar-txt{
    color: #b79818;
    padding-top: 250px;
}

.navbar{
    background-image: linear-gradient(rgb(83, 79, 79),black,black,black);
    color: gainsboro;
    margin: 0px;
}

.container{
    background-image: line-gradient(rgb(83,79,79),black,black,black);
} 

.d-flex {
    justify-content: space-between;
    color: white;
}

.content{
    background-color: black;
    padding: 30px;
}

.card-header{
    text-align: right;
}

.card-img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    background-image: center;
}

.icone{
    height: 70px;
    width: auto;
    text-align: right;
}

.row{
    margin: 50px;
    justify-content: space-between;
}

li{
    list-style: none;
}