body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* css do topbar */
.top-bar{
    height: 400px;
    background-image: url(./images/jdm-cars.jpg);
    background-size: cover;
    background-position: center;
}

.logo-dk{
    background-image: url(./images/drift-king.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.top-bar-txt{
    color: #b79818;
    padding-top: 250px;
}

/* css do nav */
.navbar{
    background-image: linear-gradient(rgb(83, 79,79),black);
    color: gainsboro;
}

/* css do conteúdo da página */
.container{
    background-color: black;
}

.contbg{
    background: none;
}

.content{
    background-color: rgb(30,30,30);
    padding: 20px;
    padding-bottom: 30px;
}

.card-header{
    background-color: black;
    text-align: right;
}

.card-car{
    border: none;
    color: #fff;
    padding: 15px;
}

.card-car .card-img{
    max-width: auto;
    height: 250px;
    object-fit: cover;
}

.card-car .card-header
.card-car .card-footer{
    border-radius: 0;
    background-color: black;
}

.card-car .card-footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.icone{
    height: 40px;
}

/* span{
    list-style: none;
} */

.row{
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}


/*  comentário apenas de referencia, apagar depois


text-align: right; 

.card-img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}




.footer{
    justify-content:space-between;
    padding-top: 10px;
    color: white;
    height: 45px;
    background-color:black; 
}


/* background-color: rgb(15,15,15); Opção2 */